<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>143222423315-cfc2chptl97ugdd5rq80b9dbdsfcblb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143222423315-cfc2chptl97ugdd5rq80b9dbdsfcblb7</string>
	<key>API_KEY</key>
	<string>AIzaSyCZL-EnXxgXD95cMqpz0kMFv3L1x7ENEnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>143222423315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ARB-FInalYear-Madushan.ARB</string>
	<key>PROJECT_ID</key>
	<string>ar-for-business-186ed</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-for-business-186ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143222423315:ios:914e806b4e943124</string>
	<key>DATABASE_URL</key>
	<string>https://ar-for-business-186ed.firebaseio.com</string>
</dict>
</plist>